.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: var(--primary-color);
    color: white;
  }
  
  .nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
  }
  .logo{
   
    font-weight: bold;
    font-size: 40px;
  font-family: 'Poppins', sans-serif; /* Replace with your desired font */
  }
  
  .signup-btn {
    padding: 0.5rem 1rem;
    background: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-btn:hover {
    background: white;
    color: var(--secondary-color);
  }
  